@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Golos Text', sans-serif;
  background: #ebedee;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdfbfb, #ebedee);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  scroll-behavior: smooth;
    
}

.tapered {
  background-image: linear-gradient(179deg,rgb(254, 97, 97) 0%, rgb(254, 97, 97) 50%,transparent 54%, transparent 100%);
}

.g2 {
  background: linear-gradient(90deg, #e6f6e7, #f9dbdd);
}

h2 span {
  background-size:  100% 15%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 0%;
}

.container {
    margin: auto;
    width: 50%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fwt-500 {
    font-weight: 500;
}

.fwt-600{
    font-weight: 500;
}

.zoom:hover {
    transform: scale(1.03);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.text-gray-450 {
    color: #989898;
}

.insta-gradient {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

.insta-gradient:hover {
  background: radial-gradient(circle at 90% 0%, #fdf497 10%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 30%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
    max-width: 200px; height: fit-content;
}

.icon {
  display: none;
}

.bullet-points p {
  margin-top: 10px;
}

@media (max-width: 640px) {

    .scroll-button {
        background: #000;
        bottom: 3.2rem;
        left: 80%;
        height: 3rem;
        width: 2rem;
        position: absolute;
        opacity: 0;
    }

    .section::before {
        animation: bounce 1s ease infinite;
        bottom: 4rem;
        color: #b1b1b1;
        content: '↓';
        font-size: 3rem;
        left: 80%;
        height: 2rem;
        width: 2rem;
        position: absolute;
        text-align: center;
        border-radius: 100px;
      }
      
      @keyframes bounce {
        50% {
          transform: translateY(-50%);
        }
      }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .trans {
    transition: 0.5s;
  }

  .trans2 {
    transition: 2s;
  }

  .hidden {
    opacity: 0%;
  }

  .footer {
    height: 10px;
    width: 100%;
    margin-top: 20px;
  }

  .applogo {
    height: 120px;
    width: 120px;
    border-radius: 27%;
  }

  .tag {
    background-color: rgb(204, 218, 246);
    color: #285AEB;
    width: auto;
    padding: 5px;
    border-radius: 7px;
    margin-right: 8px;
    margin-top: 8px;
  }

  .img-btn {
    height: 45px;
    width: auto;
  }

  /* nav styles */

  .nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.logo {
  padding-left: 20px;
}

.logo-txt {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  font-weight: 600;
}

.logo-img {
  width: 20px;
  height: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: rgb(154, 154, 154);
}

.nav__link {
  position: fixed;
  width: 100%;
  top: 2.5rem;
  background-color: rgb(217, 228, 251);
  color: rgb(102, 102, 245);
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  transition: 0.5s;
}

.nav__link a:hover {
  
}

.hide {
  display: none;
}

@media screen and (min-width: 1200px) {

  .content {
      max-width: 1200px;
      margin-top: 100px;
  }

  .flexbox {
      flex-direction: row;
  }

  .mxw {
    max-width: 1200px;
  }

  .nav {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 15px;
  }

  .hamburger {
    display: none;
  }
}